@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860'

    https://github.com/gellerby/jquery-emoji-ratings
*@

@model Sol_Rating.TagHelpers.RatingTagHelperModel




<div class="starrr">

</div>
<div id="divRatingValue"></div>
<input id="hidRatingServerValue"  type="hidden" asp-for="Rating" />
<input id="hidRatingClientValue" name="hidRatingClientValue" type="hidden" />


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://kit.fontawesome.com/31153e9135.js" crossorigin="anonymous"></script>
<script src="~/lib/Rating/starrr.js"></script>

<script type="text/javascript">

        // get Font Size
        let serverMaxSize = '@Html.Raw(Model.Max)';
        console.log(serverMaxSize);

        // get Count
        let serverRating = '@Html.Raw(Model.Rating)';
        console.log(serverRating);

        $('.starrr').starrr({
            rating: serverRating,
            max: serverMaxSize,
            change: function (e, value) {
                console.log('new rating is ' + value);

                $("#hidRatingServerValue").val(value); // Set Rating Value for Server Side rendering for using asp-for tag helper
                $("#hidRatingClientValue").val(value); // Set rating value in client side where we extract the value using Request.Form


                $("#divRatingValue").html(`Rating value : ${value}`);

             }
        });




</script>

